# ============================================================
# 로컬 개발용 환경 변수
# ============================================================

# ===== PostgreSQL =====
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

# ===== Redis =====
REDIS_PASSWORD=
REDIS_PORT=

# ===== OpenSearch =====
OPENSEARCH_PORT=
OPENSEARCH_INITIAL_ADMIN_PASSWORD=

# === 메일 인증 ====
MAIL_USERNAME=
MAIL_PASSWORD=

# ==== OAUTH ====
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI=
FRONTEND_GOOGLE_OAUTH_CALLBACK_URI=