# ===== PostgreSQL =====
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

# ===== Redis =====
REDIS_HOST=
REDIS_PORT=

# ===== OpenSearch =====
OPENSEARCH_HOST=
OPENSEARCH_PORT=
OPENSEARCH_USERNAME=
OPENSEARCH_PASSWORD=

# ==== ONNX ====
ONNX_MODEL_PATH=
ONNX_TOKENIZER_PATH=